rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read: if true;

      allow create: if request.auth != null
                    && !exists(/databases/$(database)/documents/users/$(userId))
                    && request.resource.data.firebaseUid == request.auth.uid;

      allow update: if request.auth != null
                    && resource.data.firebaseUid == request.auth.uid
                    && request.resource.data.firebaseUid == resource.data.firebaseUid
                    && request.resource.data.verified == resource.data.verified
                    && request.resource.data.banned == resource.data.banned
                    && request.resource.data.username == resource.data.username
                    && request.resource.data.createdAt == resource.data.createdAt;

      allow delete: if false;
    }

    match /meta/{docId} {
      allow read: if true;
      allow write: if true;
      allow delete: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
